* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(110, 73, 48, 0.767),
      rgba(18, 46, 168, 0.582)
    ),
    url(https://images.squarespace-cdn.com/content/v1/57713a8e2994cae381dd86fe/1647673457416-9QXAF1WG466JS12MGKEI/DJI_0114.jpg?format=2500w);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 3%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 100px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li a:hover {
  font-weight: 520;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  transition: 0.19s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 60px;
}
.text-box p {
  color: rgb(255, 185, 185);
  font-size: 30px;
}
button {
  margin-top: 35px;
  display: inline-block;
  color: white;
  background: transparent;
  border: 1px solid white;
  padding: 15px 34px;
  font-size: 15px;
  position: relative;
  cursor: pointer;
}
button:hover {
  border: 1px solid #f44336;
  background-color: #f44336;
  transition: 0.5s;
}
nav .fa {
  display: none;
}
/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#f44336;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  margin: 1px 2px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #4e4e4e;
  transition: 0.5s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  font-weight: 500;
  border: 0.5px solid white;
  border-radius: 5px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown::after .dropbtn {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  transition: 0.9s;
}
.dropdown:hover::after {
    width: 100%;
  }
/* ----Courses---- */
.courses {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  padding: 2px;
}
.row {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}
.course-col {
  flex-basis: 32%;
  background: #ffe9d7;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 5px;
  box-sizing: border-box;
}
h3 {
  font-size: 24px;
  padding: 12px 18px;
  margin: 14px 12px;
}
.course-col:hover {
  transition: 0.5s;
  box-shadow: 0 0 15px 0px rgba(9, 15, 39, 0.582);
  cursor: pointer;
}

/* ------Campus------ */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}
.campus-col {
  flex-basis: 50%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  display: block;
  width: 100%;
  height: 170px;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.layer:hover {
  background: rgba(247, 70, 70, 0.753);
  transition: 0.5s;
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 25%;
  opacity: 1;
}

/* Facilities */
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}
.facilities-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  height: 230px;
  border-radius: 10px;

}
.facilities-col h3 {
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
  margin-left: 0;
}
.facilities-col p {
  padding-left: 10px;
}
.facilities-col img:hover {
  transition: 0.3s;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.582);
  cursor: pointer;
}
/* ------Testimonials------ */
.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 25px;
  text-align: center;
}
.testimonial-col {
  flex-basis: 43%;
  border: 1px solid #f44336;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: linear-gradient(45deg, rgb(255 255 255), rgb(88 46 46 / 26%));
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonial-col img {
  height: 60px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonial-col p {
  padding: 0px;
}
.testimonial-col h3 {
  margin: 10px 0px;
  padding: 10px 0px;
  text-align: left;
}
.testimonial-col .fa {
  color: #f44336;
}
.testimonial-col:hover {
  transition: 0.3s;
  box-shadow: 0 0 15px 0px rgba(9, 15, 39, 0.582);
  cursor: pointer;
}
/* ------Call to Action------ */
.cta {
  margin: 45px auto;
  width: 80%;
  background-image: linear-gradient(45deg, rgb(0 0 0 / 88%), rgb(0 0 0 / 0%)),
    url(../img/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0%;
}

/* ------Footer------ */
.footer {
  /* background: linear-gradient(45deg,#f03426,#ffe9d7); */
  width: 100%;
  text-align: center;
  padding: 0%;
}
.footer h4 {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 25px;
  font-size: 20px;
  font-weight: 600;
}
.footer p {
  font-style: oblique;
  font-size: 15px;
}
.icons {
  margin-top: 15px;
  margin-bottom: 15px;
}
.icons .fa {
  color: #ff1100da;
  margin: 0 5px;
  cursor: pointer;
  padding: 10px 0;
}
.footer p i {
  color: #ff1100da;
}
.footer p u {
  font-weight: 600;
}
.full-background {
  background: linear-gradient(
    90deg,
    rgb(144 255 214 / 47%),
    rgb(255 143 200 / 35%)
  );
}
